.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer>section{
    width: 100%;
}
.firstFooter,.secondFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.secondFooter{
    padding-bottom: 32px;
}
.thirdFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    background-color: #1a4fa0;
}
.lastFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #1a4fa0;
}

.aSocialMedia{
    display: flex;
    align-items: center;
}
.descriptionSocialMedia{
    margin-left: 8px;
}

.rights{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    width: 100%;
}