.container{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro{
    max-width: 100%;
    width: 100%;
    height: 90vh;
    z-index: -100;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gif{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/earth.gif');
    position: absolute;
    background-size: cover;
    background-position: center;
    filter: brightness(40%);
}

.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 8px 32px;
    word-break: keep-all;
    font-size: 1.1em;
}

.btnVisit{
    width: 84px;
}
.btnDescription{
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .gif{
        width: 100%;
        background-position: 47%;
    }
}