.navigation {
    height: 60px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    
    background-color: #1F5EBB;
    color: #f2f2f2ff;
    
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    
}
.navbar{
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #1F5EBB;
    color: #f2f2f2ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo>img{
    margin-right: 8px;
}

.hamburger {
    /* removes default border on button element */
    border: 0;
    height: 48px;
    width: 48px;
    background-color: #1F5EBB;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    
    /* positions the icon to the right and center aligns it vertically */
    display: none;
}
.hamburger:hover {
    background-color: #11366d;
}

.navigation-menu {
    width: 100%;
}
/* Default background color */
.navigation-menu ul {
    display: flex;
    background-color: #1F5EBB;
    width: 100%;
    padding: 0;
    margin: 0px;
}
.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
}
.navigation-menu li .link {
    display: block;
    width: 100%;
    background-color: #1F5EBB;
}
.navigation-menu li .link:hover {
    background-color: #1c55aa !important;
}

/**********************************/
.fadein{

}
/*
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.fadeout{
    animation: fadeOut 1s;
}
@keyframes fadeOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
}/*
/* The animation code */

/*********** PHONES ************/
@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0px;
        padding-left: 0px;
    }
    .fadein{
        animation-name: slideIn;
        animation-duration: 2s;
        z-index: 0;
    }
    .navigation-menu ul {
        /* navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)
        */
        position: absolute;
        margin-top: 0px;
        display: none;
        
        /* stacks the li tags vertically 
        flex-direction: column;
       /* makes menu span full height and width
        width: 100%;
        height: calc(100vh - 77px);
        background-color: white;
        border-top: 1px solid black;
      }
      .navigation-menu li {
        /* centers link text and strips off margin */
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      .navigation-menu li .link {
        color: #f2f2f2ff;
        /* increases the surface area of the anchor tag to span the full width of the menu
        */
        width: 100%;
        padding: 1.5rem 0;
      }

      .navigation-menu.expanded ul {
        display: block;
      }
}