.mainContainer{
    padding: 0px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.buttonsContainer{
    margin: 32px;
}
.buttonsContainer>button{
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    
}