@font-face {
  font-family: 'Robot';
  src: local('Robot'), url(./assets/fonts/Robot_Font.otf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

:root {
  font-family: Robot !important;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button{
  font-family: Robot;
  font-size: 1em;
}

body{
  margin: 0px;
  padding: 0px;
  line-height: 1.2em;

}

a{
  text-decoration: none;
  color: unset;
  height: unset;
}

.-title{
  color: #f2f2f2ff;
  text-align: center;
  font-size: 2em;
}
.-titleBlack{
  color: #242424;
  text-align: center;
  font-size: 2em;
}
.-subtitle{
  color: #f2f2f2ff;
}
.-subtitleBlack{
  color: #242424;
}


.-cardSection{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
.-card{
  background-color: #133ee5ff;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.-card>img{
  width: 100%;
  margin-bottom: 16px;
}
.-cardBtnSection{
  display: flex;
  justify-content: center;
}
.-cardBtnSection>a{
  margin-left: 32px;
}


.-bgPrimary{
  background-color: #133ee5ff;
  color: #f2f2f2ff;
}
.-bgWhite{
  background-color: #f2f2f2ff;
}
.-btn{
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}
.-btnPrimary{
  background-color: #133ee5ff;
  color: #f2f2f2ff;
}
.-btnPrimary:hover{
  background-color: rgb(13, 49, 196);
}
.-btnWhite{
  background-color: #f2f2f2ff;
  color: #242424;
}
.-btnWhite:hover{
  background-color: rgb(206, 206, 206);
}
.-btn:hover{

}





@media screen and (max-width: 768px) {
  .-cardSection{
    width: 96%;
    height: auto;
  }
  .card{
    width: 90%;
  }

}