@font-face {
  font-family: 'Robot';
  src: local('Robot'), url(./assets/fonts/Robot_Font.otf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',                           'embedded-opentype', and 'svg' */
}


:root {
  font-family: Robot !important;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0px;
  padding: 0px;
  line-height: 1.2em;
  scroll-behavior: smooth;
}

button{
  font-family: Robot;
  font-size: 1em;
}

a{
  text-decoration: none;
  color: unset;
  height: unset;
}
ul{
  padding: 0px;
}
li{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.-title{
  color: #f2f2f2ff;
  text-align: center;
  font-size: 2em;
}
.-titleBlack{
  color: #242424;
  text-align: center;
  font-size: 2em;
}
.-subtitle{
  color: #f2f2f2ff;
}
.-subtitleBlack{
  color: #242424;
}


.-cardSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
.-card{
  background-color: #1F5EBB;
  width: 100%;
  padding: 32px 64px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.-card>img{
  /*width: 100%; */
  margin-bottom: 16px;
}
.-cardBtnSection{
  display: flex;
  justify-content: center;
}
.-cardBtnSection>a{
  margin-top: 32px;
}


.-bgPrimary{
  background-color: #1F5EBB;
  color: #f2f2f2ff;
}
.bgPrimaryDark{
  background-color: #1a4fa0;
}
.-bgSecondary{
  background-color: #1fbb7a;
  color: #f2f2f2ff;
}
.-bgWhite{
  background-color: #f2f2f2ff;
}
.-btn{
  padding: 10px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;

  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.384);
}
.-btnPrimary{
  background-color: #1F5EBB;
  color: #f2f2f2ff;
}
.-btnPrimary:hover{
  background-color: #1a4fa0;
}
.-btnWhite{
  background-color: #f2f2f2ff;
  color: #242424;
}
.-btnWhite:hover{
  background-color: rgb(206, 206, 206);
}




@media screen and (max-width: 768px) {
  .-card{
    width: 90%;
  }

}